<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Homepage - Paideia Library</title>
    </head>
    
    <style> body {
    background-image: linear-gradient(to right,rgb(2, 41, 51) , rgb(26, 121, 138));
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }</style>

    <style> h1 {font-size: 30pt; margin-left: 1cm} </style>
    <style> h2 {font-size: 14pt; margin-left: 1cm} </style>
    <style> p {margin-left: 1cm} </style>
    <style> img {margin-left: 1cm} </style>
    <style> .child {float: left; width: 50%;} </style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Paideia Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/seats">Find seat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/books">Find book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/suggestions">Book suggestions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/user">User</a>
              </li>
          </ul>
        </div>
      </nav>
    <br>
    <h1>PAIDEIA LIBRARY</h1>

    <section class="parent">
      <section class="child">
        <h2> Welcome to the homepage of PAIDEIA LIBRARY.</h2>
        <br>
        <p> <em>(παιδεία), term that in the Hellenistic and Roman world designated education or training;
          training of the physical and mental faculties in such a way as to produce a broad enlightened mature outlook harmoniously combined with maximum cultural development</em></p>
        <br>
        <br>
        <p>A library is not only a place to read, but also to study, develop and experience all aspects of student life. In order to provide the most convinient library experience PAIDEIA took into consideration the wishes of real students.</p>
        <p>See all available seats. Filter our seats and find the optimal workplace for you. Reserve your seat, take a break from studying and stop worrying about losing your place. A fair system for all students.</p>
        <p>Filter more than 800,000 books by title, author, genre and year of publication year and receive the best matching books and where to find them.</p>
        <p>Enter a short book description and receive suggestions with the most similar books in our library.</p>
        <p>Log in, save your user data and receive suggestions based on your profile. The more time you spent in our library, the more priviledges you receive.</p>
        <br>
        <p style="font-size:14pt">Enjoy your time in PAIDEIA!</p>
      </section>
      <section class="child">
            
            <img src="static/Screenshot 2022-06-09 at 17.14.28.png" alt="layout first floor" width = 400 height=300>
            <p> </p>
            <img src="static/Screenshot 2022-06-09 at 17.14.40.png" alt="layout first floor" width = 400 height=300>
      </section>
      
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>
</html>
